.banner-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.banner-image {
  object-fit: cover;
  display: block;
  width: 100%;
  z-index: 1;
}

/* Text content inside banner */
.banner-content {
  z-index: 2;
  position: absolute;
  color: #212529;
  line-height: normal !important;
}

.banner-content h2,
.banner-content p {
  margin: 0;
  line-height: 1.3;
  background: none;
}

/* Responsive heights */
@media (max-width: 576px) {
  .banner-image {
    height: 230px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .banner-image {
    height: 300px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .banner-image {
    height: 380px;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .banner-image {
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .banner-image {
    height: 500px;
  }
}
